svg{
    width: 30px;
}
ul{
    list-style: none;
}
.sidenav img,.name_display img{
    width: 90px;
}
button{
    margin: 0;
    padding:10px 20px 10px 20px;
    border: 0;
    border-radius: 20px;
    width: 120px;
}
.trending img{
    width: 100px;
}
.trending div{
    font-size: 1.5em;
    display: flex;
    align-items: center;
    gap:20px;
    padding: 10px;
}