svg{
    width: 30px;
}
ul{
    list-style: none;
    padding: 0;
}
.name_container img{
    width: 90px;
}
button{
    margin: 0;
    padding:10px 20px 10px 20px;
    border: 0;
    border-radius: 20px;
    width: 120px;
}
.trending img{
    width: 100px;
}
.trending div{
    font-size: 1.5em;
    gap:20px;
    padding: 10px;
}
.container{
    display: grid;
    grid-template-columns: 1fr 5fr;
}
.nav{
    display: grid;
    grid-template-columns: 5fr 3fr;
}
.trending div,.name_container,.sidenav,.search,.btn{
    display: flex;
    align-items: center;
}
.search input{
    background-color: rgb(167, 167, 167);
    border: 0;
    padding: 5px;
    width: 90%;
    height: 30%;
    border-radius: 20px;
    font-size: 1rem;
}
.sidenav{
    gap: 6%;
    justify-content: center;
    font-weight: 700;
}
.sidenav img{
    width: 15%;
}
.name_container .name{
    font-weight: 900;
    font-size: 1.5rem;
}
.name_container .name,.name_container p{
    margin: 0;
}
.name_container p{
    font-size: 1.3rem;
}
.btn{
    justify-content: center;
    gap: 20px;
}