svg{
    width: 30px;
}
ul{
    list-style: none;
    padding: 0;
}
.sidenav img,.name_container img{
    width: 90px;
}
button{
    margin: 0;
    padding:10px 20px 10px 20px;
    border: 0;
    border-radius: 20px;
    width: 120px;
}
.trending img{
    width: 100px;
}
.trending div{
    font-size: 1.5em;
    gap:20px;
    padding: 10px;
}
.container{
    display: grid;
    grid-template-columns: 1fr 5fr;
}
.nav{
    display: grid;
    grid-template-columns: 5fr 3fr;
}
.trending div,.name_container,.sidenav,.search,.btn{
    display: flex;
    align-items: center;
}